<!--{{diagnostic}}-->


<div class="panel panel-default ">
    <!-- Default panel contents -->
    <div class="panel-heading">Our Assets</div>
    <div class="panel-body">
        <p>Here is an example of the assets that you will see in CMS.</p>
    </div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>MSN</th>
            </tr>
        </thead>
        <tbody *ngFor="#asset of assets">
            <tr>
                <th scope="row">{{asset.Id}}</th>
                <td>{{asset.Msn}}</td>
            </tr>
        </tbody>
    </table>
</div>
