<div class="panel panel-default ">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <!--<input type="date" [(ngModel)] ='_date'/>-->
    <my-date [(date)]="_date" (dateChange)="getDayTimeSheet()"></my-date>

  </div>

  <form (ngSubmit)="onSubmit()" *ngIf="employeesTimeSheets" #form="ngForm">
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th><input type="checkbox" name="selectAll" [indeterminate]="isSelectAllIntermediate" (click)="onSelectAll($event.target.checked)"
              [(ngModel)]="selectAll" /></th>
          <th>Name</th>
          <th>Hour Rate</th>
          <th>Hour Per Day</th>
          <th>Wage</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let employeeTimeSheet of employeesTimeSheets; ">
        <tr>
          <th scope="row">
            <input type="checkbox" [(ngModel)]="employeeTimeSheet.checked" name="{{ 'checked' + employeeTimeSheet.employee.id}}"
            (change)="onEmpTimesheetSelect(employeeTimeSheet, $event.target.checked)"
            />
          </th>
          <td>{{employeeTimeSheet.employee.firstName}} {{employeeTimeSheet.employee.lastName}} </td>
          <td><input [disabled]="!employeeTimeSheet.checked"  name="{{ 'hourRate' + employeeTimeSheet.employee.id}}" type="number"
                     [(ngModel)]="employeeTimeSheet.hourRate"
            /></td>
          <td><input [disabled]="!employeeTimeSheet.checked" type="number" name="{{ 'hours' + employeeTimeSheet.employee.id}}"
                     [(ngModel)]="employeeTimeSheet.hours" /></td>
          <td>{{employeeTimeSheet.hours * employeeTimeSheet.hourRate}}</td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-default">
            Submit
        </button>
  </form>
</div>
